#jobs {
  height: 100%;
}

/* #filter .label {
  height: 3;
}

#custom-design {
  background: darkslategrey;
}

#custom-design > .checkbox--switch {
  color: dodgerblue;
  background: darkslateblue;
} */
